<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>KOA EJS TEMPLATING</title>
    <link href="/style/style.css" rel="stylesheet" type="text/css">
</head>

<body>

    <% if(typeof menu != undefined ){ %>
        <% include components/organisms/navbar/navbar.html %>
    <% } else{ %>
        <p>no photos uploaded</p>
    <% } %>

    <div class="container">
        <%- body %>
    </div>
</body>
</html>
